*.pyc
*.bin
*~
/memplot/out
/memplot/measurements
/PythonMonitor/plots
/PythonMonitor/processlogs
/PythonMonitor/scenariologs
/PythonMonitor/out
*.png
*.csv
*.xlsx
**/*_collection.txt
**/*_instantthrpt.txt
**/*_throughput.txt
**/*_heapsize.txt
**/*__execution.txt
.DS_Store
